# You can create the requirements file with:
# pip freeze > requirements.txt

asttokens==2.4.1
comm==0.2.2
debugpy==1.8.8
decorator==5.1.1
djvulibre-python==0.9.0
document-contents-extractor==1.1
epub_meta==0.0.7
executing==2.1.0
# ipykernel==6.29.5
# ipython==8.29.0
# jupyter_client==8.6.3
# jupyter_core==5.7.2
loguru==0.6.0
lxml==5.3.0
# matplotlib-inline==0.1.7
mobi==0.3.3
nest-asyncio==1.6.0
packaging==24.2
parso==0.8.4
pdfminer==20191125
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plum-dispatch==1.7.4
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycryptodome==3.21.0
Pygments==2.18.0
# PyMuPDF==1.24.14
pytesseract==0.2.7
python-dateutil==2.9.0.post0
pyzmq==26.2.0
six==1.16.0
Spire.Pdf==10.8.1
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
wcwidth==0.2.13